#body1{
    align-items: center;
background-color:white;
    
}
   
#div1{
    padding:10px;
    background-color: orange;
    display: flex;
    
a{
        text-decoration: none;
        color: white;
        padding: 50px 17px;
        font-size: larger;
    
        
    }
    
    }
    #div22{
        display: inline-block;
    padding: 10px;
    border: 1px solid #000;
    }
    #div2{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    #footer{
        background-color: orange;
        height: 11vh;
        color: black; 
    padding: 20px;
    text-align: center;
    }


    #button{
        padding: 10px 20px;
        color: white;
        background-color: blue;
        text-decoration: none;
        border-radius: 5px;
        
    }